.gallery {
    line-height: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 10px;
    
}

.logo {
    font-weight: 800;
    color: #121826;
    text-decoration: none;
}
.small-button {
    border-radius: 12px;
    border: none;
    background: #F8F6E3;
    color:#6AD4DD;
    
}
  
.fileInput {
    display: none;
}
.root {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.image-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    transition: ease-in;
}

.icon-sm {
    font-size: 15px !important;
}
.secondaryBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #00224D; /* Hide original text */
    border-radius: 6px;
    border: none;
    background: #E5E7EB;
    cursor: pointer;
    font-weight: 700;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(254, 226, 181, 0) 6.12%, #00224D 24.34%, #FF204E 77.65%, rgba(254, 226, 181, 0) 94.98%);    
    border-image-slice: 1;
    transition: ease-in 300;
}

.secondaryBtn:hover {
    background: #E5E7EBCC;
}

.primaryBtn {
    border-radius: 6px;
    border: none;
    background: #E5E7EB;
    color: #121826;
    padding:10px 15px;
    cursor: pointer;
    transition: ease-in 300;
    font-weight: 700;
}

.primaryBtn:hover {
    background: #E5E7EBCC;
}

.smallBtn {
    background: transparent;
    border: none;
    color: #e5e7eb;
    padding:5px;
    cursor: pointer;
    transition: ease-in 300;
    font-weight: 700;
}

.smallBtn:hover {
    color: #E5E7EBCC;
}

.darkButton {
    border-radius: 6px;
    border: none;
    color: #E5E7EB;
    background-color: #121826;
    padding:10px 15px;
    cursor: pointer;
    transition: ease-in 300;
    font-weight: 700;
}

.darkButton:hover {
    background-color: #121826d8;

}


.overlay {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index:40; 
}

.cardHeader {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap:8px;
    padding:8px 14px;
}


.cardOverlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index:40;
    transition: ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.modalContainer {
    box-shadow: 0 0 0 50vmax rgba(0,0,0,.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:260px;
    height:260px;
    border-radius:12px;
    background:white;
    z-index:50;
}

.video {
    border-top-left-radius:12px;
    border-top-right-radius: 12px;

}

.uploadButton {
    margin-top: 12px;
    width:220px;
    height:180px;
    border-radius: 12px;
    background-color: #E5E7EB;
    color:#6C727F;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.uploadButton:hover {
    background-color: #E5E7EBCC;
}

.modalContent {
    gap: 6px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.gradiantSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 90px;
    background: rgb(255,32,78);
    background: -moz-linear-gradient(326deg, rgba(255,32,78,1) 0%, rgba(255,83,80,1) 40%, rgba(255,244,85,1) 100%);
    background: -webkit-linear-gradient(326deg, rgba(255,32,78,1) 0%, rgba(255,83,80,1) 40%, rgba(255,244,85,1) 100%);
    background: linear-gradient(326deg, rgba(255,32,78,1) 0%, rgba(255,83,80,1) 40%, rgba(255,244,85,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff204e",endColorstr="#fff455",GradientType=1); 
}
.buttonContainer {
    gap: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchForm {
    width:600px;
    border-radius: 12px;
    border: none;
    background-color: white;
    display: flex;
    height: 30px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: -90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.commentArea {
    width: 380px;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;
    outline: none;
    border-radius: 12px;
    margin-bottom: 12px;
}
.commentArea::placeholder {
    color:#6C727F;
    font-style: italic;
    font-size: 15px;
}

.searchForm i {
    color:#6C727F;
    margin: 0 12px;
}
.searchInput {
    border:none;
    background: transparent;
    font-size: 15px;
    flex-grow: 1; /* Expand to fill available space */
    flex-shrink: 1; /* Allow shrinking if necessary */
    flex-basis: 0;
    outline: none;
    
}

.searchInput::placeholder {
    color:#6C727F;
    font-style: italic;
    font-size: 15px;
}

.header {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}